<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Регистрация</h2>
        <form id="registration-form">
            <label for="full-name">Имя:</label>
            <input type="text" id="full-name" placeholder="Введите полное имя" required>
            <label for="short-name">Короткое имя Telegram:</label>
            <input type="text" id="short-name" placeholder="Введите короткое имя" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
         <div class="channel-button-container">
            <a href="https://t.me/ваш_канал" class="channel-button">Перейти в канал</a>
         </div>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>